<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thymeleaf</title>
    <style>
        .national {background-color: bisque;}
        .summer {font-size: 40px;}
        
    </style>
</head>
<body style="margin: 50px;">
    <h1>텍스트 출력 및 태그 속성</h1>
    <hr>
    <ul>
        <li><span th:text="${name}">마리아</span>님 환영합니다.</li>
        <li>[[${name}]]님 환영합니다.</li>
    </ul>
    <div th:text="${name}"> 이름이 없어 </div>
    <div>[[${name}]]님 환영합니다.</div>
    <ul>
        <!-- th: 다음에 뭐가 올수 있는건지 공부하자 꼭 -->
        <li><span th:text="${data}"></span></li>
        <li><span th:utext="${data}"></span></li>       <!-- utext는 "<b> 이런 태그를 없애서 화면서 보여주는 역할"-->
        <li>[[${data}]]</li>
        <li>[(${data})]</li>                            <!-- ["("")"] 소괄호도 위에 utext처럼 <>태그를 보이지 않게 해줌 -->
    </ul>
    <ul>
        <li><span class="national">사과</span></li>
        <li><span class="national" th:classappend="summer">복숭아</span></li>  <!-- th:classappend 진짜 th: 찾아보자 -->
        <li><span class="summer">참외</span></li>
    </ul>
    
</body>
</html>